In [15]:
WRDS_USERNAME = 'raafayu'

import wrds

In [16]:
db = wrds.Connection(wrds_username=WRDS_USERNAME)

Loading library list...
Done

In [17]:
list_of_tables = db.list_tables(library='tr_ds_fut')
print(list_of_tables)

['dsfutcalcserextval', 'dsfutcalcserinfo', 'dsfutcalcsermth', 'dsfutcalcserval', 'dsfutclass', 'dsfutcode', 'dsfutcontr', 'dsfutcontrchg', 'dsfutcontrextval', 'dsfutcontrinfo', 'dsfutcontrval', 'dsfutcotrepval', 'dsfutdesc', 'dsfutitem', 'dsfuttrdcycle', 'dsfutundrmap', 'wrds_contract_info', 'wrds_cseries_info', 'wrds_fut_contract', 'wrds_fut_series']

In [20]:
for tb in list_of_tables:
    if tb == 'wrds_fut_contract':
        print(db.describe_table(library='tr_ds_fut', table=tb))

Approximately 155266000 rows in tr_ds_fut.wrds_fut_contract.
            name  nullable              type comment
0        futcode      True    NUMERIC(11, 0)    None
1          date_      True              DATE    None
2          open_      True  DOUBLE PRECISION    None
3           high      True  DOUBLE PRECISION    None
4            low      True  DOUBLE PRECISION    None
5         volume      True  DOUBLE PRECISION    None
6     settlement      True  DOUBLE PRECISION    None
7   openinterest      True  DOUBLE PRECISION    None
8              p      True  DOUBLE PRECISION    None
9             pb      True  DOUBLE PRECISION    None
10            pa      True  DOUBLE PRECISION    None
11            wa      True  DOUBLE PRECISION    None
12            ca      True  DOUBLE PRECISION    None
13            yd      True  DOUBLE PRECISION    None
14            hm      True  DOUBLE PRECISION    None
15            ha      True  DOUBLE PRECISION    None
16            mt      True  DOUBLE PRECISION    None
17            la      True  DOUBLE PRECISION    None
18            lm      True  DOUBLE PRECISION    None
19            oa      True  DOUBLE PRECISION    None
20            up      True  DOUBLE PRECISION    None

In [23]:
df = db.raw_sql(
    """
SELECT
    *
FROM
    tr_ds_fut.wrds_fut_contract
WHERE
futcode = '426355'
LIMIT 10
""",
)
df

,futcode,date_,open_,high,low,volume,settlement,openinterest,p,pb,...,wa,ca,yd,hm,ha,mt,la,lm,oa,up
0,426355.0,2022-06-01,2.2135,2.2135,2.2135,0.0,2.2135,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
1,426355.0,2022-06-02,2.2020,2.2020,2.2020,0.0,2.2020,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
2,426355.0,2022-06-03,2.1535,2.1535,2.1535,0.0,2.1535,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
3,426355.0,2022-06-06,2.2090,2.2090,2.2090,0.0,2.2090,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
4,426355.0,2022-06-07,2.1655,2.1655,2.1655,0.0,2.1655,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
5,426355.0,2022-06-08,2.1760,2.1760,2.1760,0.0,2.1760,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
6,426355.0,2022-06-09,2.1995,2.1995,2.1995,0.0,2.1995,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
7,426355.0,2022-06-10,2.1525,2.1525,2.1525,0.0,2.1525,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
8,426355.0,2022-06-13,2.1035,2.1035,2.1035,0.0,2.1035,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
9,426355.0,2022-06-14,2.1315,2.1315,2.1315,0.0,2.1315,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None

In [20]:
df = df.sort_values(by='date_', ascending=True)
df

,futcode,date_,open_,high,low,volume,settlement,openinterest,p,pb,...,wa,ca,yd,hm,ha,mt,la,lm,oa,up
0,426355.0,2022-06-01,2.2135,2.2135,2.2135,0.0,2.2135,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
1,426355.0,2022-06-02,2.2020,2.2020,2.2020,0.0,2.2020,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
2,426355.0,2022-06-03,2.1535,2.1535,2.1535,0.0,2.1535,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
3,426355.0,2022-06-06,2.2090,2.2090,2.2090,0.0,2.2090,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
4,426355.0,2022-06-07,2.1655,2.1655,2.1655,0.0,2.1655,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,426355.0,2024-02-13,1.8805,1.8805,1.8805,0.0,1.8805,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
428,426355.0,2024-02-14,1.8280,1.8280,1.8280,0.0,1.8280,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
429,426355.0,2024-02-15,1.8515,1.8515,1.8515,0.0,1.8515,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
430,426355.0,2024-02-16,1.8670,1.8670,1.8670,0.0,1.8670,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None
431,426355.0,2024-02-20,1.8625,1.8625,1.8625,0.0,1.8625,0.0,None,None,...,None,None,None,None,None,None,None,None,None,None